frontend/.env.local
backend/.venv/
frontend/.env
backend/ .env
.env

# Dependencies
node_modules/
frontend/node_modules/

# Build output
frontend/dist/

# Python cache
**/__pycache__/
**/*.pyc

# Obsidian UI state
**/.obsidian/workspace.json
.vercel
.env*

backend/vercel.json
